.NavFooter {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-top: 69vh;
}

.NavFooter li {
  display: flex;
  list-style: none;
  margin-left: 2rem;
  margin-right: 2rem;
}

.projects,
.contact {
  color: rgb(255, 255, 255);
  border: 2px solid #ffffff;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.contact:hover {
  background-color: #4caf50;
}
.projects:hover {
  background-color: #4caf50;
}

.copyright {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  font-size: 10px;
}

@media screen and (max-width: 769px) {
  .NavFooter {
    margin-top: 69vh;
  }
  .projects,
  .contact {
    color: rgb(255, 255, 255);
    border: 2px solid #ffffff;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #4caf50;
  }
}
