.NavHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.NavHeader.signin {
  justify-content: center;
  margin-right: 0.5rem;
}
.NavHeader li {
  list-style: none;
  margin-left: 2rem;
  margin-right: 2rem;
}

.about,
.signin {
  color: white;
}

.logo {
  height: 150px;
  border-radius: 50%;
  margin-top: 1rem;
}

.url-to-admin {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.component-url-to-admin {
  background-color: rgb(20, 137, 204);
  border-radius: 10px;
  width: 5%;
  margin-left: 42.6rem;
}
