.NavHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.NavHeader.signin {
  justify-content: center;
}
.NavHeader li {
  list-style: none;
  margin-left: 2rem;
  margin-right: 2rem;
}

.about,
.signin-link {
  color: rgb(255, 255, 255);
  border: 2px solid #ffffff;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.about:hover {
  background-color: #4caf50;
}
.signin-link:hover {
  background-color: #4caf50;
}

.logo {
  height: 150px;
  border-radius: 50%;
  margin-top: 1rem;
  margin-right: 0.5rem;
}

.url-to-admin {
  text-align: center;
  color: white;
  border-radius: 10px;
  background-color: #4caf50;
  padding: 0.5rem;
}
.component-url-to-admin {
  text-align: center;
}

@media screen and (max-width: 769px) {
  .about,
  .signin-link {
    color: rgb(255, 255, 255);
    border: 2px solid #ffffff;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #4caf50;
  }
}
