.Contact-page {
  background-color: #333;
  color: #fff;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-contact {
  background-color: #444;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.title-contact {
  font-size: 2rem;
  margin-left: 6.6rem;
}

.component-firstname-lastname,
.component-email-phone {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.component-contact input[type="email"],
.component-contact input[type="phone"],
.component-contact input[type="text"],
.component-contact input[type="tel"],
.component-contact textarea[type="text"] {
  background-color: #555;
  color: #fff;
  border: none;
  border-bottom: 2px solid rgb(20, 137, 204);
  margin: 3px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  margin-top: 1rem;
}

.component-message {
  margin-bottom: 1rem;
  width: 20.3rem;
}

textarea {
  height: 10rem;
  resize: none;
}

.component-btn {
  display: flex;
  justify-content: center;
}

.button-contact {
  background-color: #92c2f6;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.button-contact:hover {
  background-color: rgb(20, 137, 204);
}

@media screen and (max-width: 769px) {
  .component-contact {
    width: 80%;
  }
  .component-message {
    margin-bottom: 1rem;
    width: 15.3rem;
  }
  .title-contact {
    margin-left: 4.5rem;
  }
  .button-contact {
    background-color: rgb(20, 137, 204);
  }
}
