.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.component-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(93, 93, 93);
  padding: 1rem;
  border-radius: 10px;
  width: 20rem;
  margin-top: 3rem;
  box-shadow: 0 0.5rem 1rem rgb(41, 41, 41);
}
.title-register {
  font-size: 2rem;
}

.component-email-register,
.component-name-register,
.component-password-register,
.component-button-register {
  margin-top: 1.5rem;
}

.component-register input[type="text"],
.component-register input[type="email"],
.component-register input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border-bottom: 2px solid#4caf50;
  background-color: rgb(255, 255, 255);
}

.component-register input[type="submit"] {
  background-color: #72c775;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}
.component-register input[type="submit"]:hover {
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
}

.register-url-component {
  margin-top: 1rem;
  font-size: 1rem;
}

.url-register {
  color: #72c775;
  text-decoration: none;
  margin-left: 0.5rem;
}
.url-register:hover {
  color: #4caf50;
}

@media screen and (max-width: 769px) {
  .register-url-component {
    font-size: 0.8rem;
  }
  .register-page {
    height: 80vh;
  }
  .component-register input[type="submit"] {
    background-color: #4caf50;
  }
  .url-register {
    color: #4caf50;
  }
}
